<div class="container-big-card">
  <div class="big-card-photo">
    <img src="/idea/BIGCARD.jpg"
         alt=""
         height="200px"
         width="400px">
  </div>
  <div class="big-card-title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card-description">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus voluptate quidem dicta excepturi repellendus unde voluptas maiores laborum modi! Quo repudiandae nam fugit voluptates, tempora tenetur. Eius vero illo iste.</p>
  </div>
</div>
